@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

.container {
  width: 65rem;
  margin: 0 auto;
  text-align: center;
}
.top-logo {
  margin-top: 6.4rem;
}
.hero-img {
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
}

.section-margin {
  margin-top: 6.4rem;
}
h1 {
  margin-bottom: 3rem;
}
.h1-text-1 {
  color: hsl(0, 0%, 59%);
  font-size: 5rem;
  font-weight: 300;
}
.h1-text-2 {
  font-size: 5rem;
  font-weight: 700;
}
h2 {
  margin-bottom: 4rem;
  font-weight: 300;
}

.notify-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 9rem;
  text-align: left;
}

input {
  width: 41.5rem;
  height: 5.2rem;
  border-radius: 2.5rem;
  padding-left: 2.5rem;
  color: hsl(0, 0%, 59%);
  font-size: 1, 4rem;

  opacity: 0.5;
  border: 1px solid hsl(0, 0%, 59%);
}
input.error {
  border-color: hsl(354, 100%, 66%);
}
.form-left {
  flex: 0.7;
}
form small {
  color: hsl(354, 100%, 66%);
  font-style: italic;
  display: none;
  margin-left: 2rem;
  margin-top: 1.2rem;
  font-size: 1.2rem;
  z-index: 100;
}

button {
  width: 19.5rem;
  margin-left: 1.5rem;
  background-color: hsl(223, 87%, 63%);
  color: #fff;
  border: none;
  font-size: 1.6rem;
  padding: 2rem 6rem;
  border-radius: 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: hsl(223, 100%, 88%);
  color: #fff;
}

.logo {
  list-style-type: none;
  display: inline-flex;
  margin-top: 3.6rem;
  gap: 1rem;
}
.logo a:hover {
  color: #fff;
  background-color: hsl(223, 87%, 63%);
}
.logo a {
  color: hsl(223, 87%, 63%);

  font-size: 1.6rem;
  padding: 1.5rem;
  border-radius: 50%;
  border: 1px solid hsl(223, 100%, 88%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 3rem;
  height: 3rem;
  text-decoration: none;
}

.footer-paragraph {
  font-size: 1.4rem;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

@media only screen and (max-width: 780px) {
  .container {
    max-width: 390px;
  }
  .h1-text-1,
  .h1-text-2 {
    font-size: 3rem;
  }
  .notify-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    /* justify-content:center */
    align-items: center;
    gap: 1rem;
  }
  .form-left {
    text-align: center;
  }
  .form-left > input {
    max-width: 360px;
  }
  .notify-section > button {
    width: 360px;
    margin-left: -8px;
  }
  small {
    margin-bottom: 20px;
  }
}
