/* Poppins - OpenSans Font-size */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Poppins", "Open Sans";
  font-size: 62.5%;
}

.body-background {
  background-image: url("./images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 70px 80px;
}
img {
  max-width: 100%;
}
.flex {
  display: flex;
  align-items: center;
}

.main-section-text {
  margin-left: 95px;
  max-width: 500px;
}

.title,
.description,
.logo {
  color: #fff;
}

.title {
  font-size: 4em;
}
.description {
  font-size: 1.6em;
  padding-top: 20px;
}

.register-button {
  color: hsl(257, 40%, 49%);
  padding: 20px 65px;
  margin-top: 25px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  font-weight: 600;
}
.register-button:hover {
  background-color: hsl(300, 69%, 71%);
  color: #fff;
}
.logo {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-size: 2em;
  list-style-type: none;
}
.logo a {
  color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
}

.logo a:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}

@media only screen and (max-width: 780px) {
  .container {
    max-width: 560px;
    /* margin-left: 20px; */
  }
  .header-container {
    margin-bottom: 100px;
  }
  .hero-img {
    padding: 0 50px;
  }
  .main-section-text {
    margin-top: 50px;
  }

  .flex {
    flex-direction: column;
  }
  .main-container {
    text-align: center;
    margin-left: 0;
  }
  .logo {
    justify-content: center;
  }
}
